{% extends "layout.html" %}

{% block title %}
	Search books
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/search.css">
{% endblock %}


{% block body %}
<div class="container">
	<form action="{{ url_for('search') }}" method="POST">
		<input type="text" id="queryid" name="query" autocomplete="off" placeholder="Enter book title or author or isbn . For ex. Tiger Lily" autofocus>
	</form>
</div>
	

	<table></table>
	<script>
		let input = document.querySelector("input");
		input.onkeyup = function(){
			$.get('/books?query=' + input.value, function(data){
				document.querySelector('table').innerHTML = data;
			});
		}
	</script>
{% endblock %}